// colors
$yellow: #fee040;
$hover-yellow: #ffeb81;
$bcg-blue: linear-gradient(180deg, rgba(0, 78, 134, 0.9) 0%, rgba(10, 65, 104, 0.9) 100%);
$black-l: #151515;
$grey: #707070;
$text-blue: linear-gradient(180deg, #60b6ff 0%, rgba(0, 78, 134, 0.8) 100%);
$green: #bfed3b;
$purple: #a93bed;
$blue: #4cbeff;
$pink: #a13e7d;

// sizes

$max-width: 1280px;
